@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&family=Lexend+Deca:wght@100;200;300;400;500;600;700&family=Montserrat:wght@400;700&family=Mulish:wght@300&family=Poppins:wght@300;400;600&family=Urbanist:wght@300;400;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Urbanist", sans-serif;
}

:root{
    --bs-dark-color: #1a1d20;
    --bs-dark-primary:#1c1c1c;
    --bs-main-color:#fff;
    --bs-primary-color:#c6c6c6;
    --secondary-color: #29a9fd;
    --bs-supporting-color: #C850C0;
}


h1, h2,h3,h4,h5{
    font-family: 'Lexend Deca', sans-serif;
    color: var( --bs-dark-color);
}

h1{
    font-size: 3.8rem;
}

h2{
    line-height: 4rem;
    font-weight: 600;
    font-size: 3.4rem;
}
a{
    text-decoration: none;
}
li{
    list-style: none;

}
button ,a{
    font-size: 1.15rem;
    letter-spacing: 0.03rem;
    word-spacing: .1rem;
}
.common-title {
font-size: 2.8rem;
font-weight: 500rem;
letter-spacing: 0.01rem !important
}
.common-heading{
    margin-bottom: 4.2rem;
    text-transform: capitalize;

}
.common-section{
    padding-bottom: 9rem;
}
/* navigation section */
.navbar-toggler{
    border-color: var(--bs-main-color);
}


.navbar-toggler-icon{
    background-color: white;
    border-color: white;
}
.container .navbar-brand{
    margin-top: 2rem;
}




.navbar-brand{
    font-weight: bold;
}
.navbar-nav .nav-item .nav-link{
    color: var(--bs-main-color);
    font-weight: bold;

}
.navbar-nav .nav-item .nav-link:hover{
color: var(--secondary-color);
}

/* hero section  */
.hero-section .container{
    display: grid;/* by using this code we can make content center horiaontally and vertically*/
    place-content: center;
    height:  inherit;


} 
.bg-main {
    height: 80vh;
    position: relative;
}


.hero-video--section{
    /* max-width: 100%; */
    height: auto;
    width: 30rem;
    border-radius: 2rem;

}
.bg-color {
    background-color: var(--bs-dark-primary);
}
/* hero section end  */
/* shape divider start  */
.custom-shape-divider-bottom-1708838998 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1708838998 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 120px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1708838998 .shape-fill {
    fill: #FFFFFF;
}

/* shape divider ends  */

/* service section start */
     .service-section{
        padding: 6rem 0 3rem 0 !important;
     }
     .icon-span{
        width: 2.5rem;
        height: 2.5rem;
        background-color: var(--secondary-color);
        color: var(--bs-main-color);
     }
     .service-card:hover   {
        box-shadow: rgba(149,157,165,0.2) 0px 8px 24px;
        transform: scale(1.05);
        transition: transform 0.3s ease;
     }
     /* .service-card {
        margin-left: 0.1rem;
        margin-right: 0.1rem;
     } */
     
/* service section end  */
/* more-info-section start */

.more-info-section{
    background-image: linear-gradient(rgba(22,22,22,0.7), rgba(22,22,22,0.9)), url("https://images.pexels.com/photos/316093/pexels-photo-316093.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    /* this will set background image  */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;/* this set the image as fixed*/
    padding: 6rem 0;
    overflow: hidden;
}

.more-info-section .img-section{
    position: relative;

}

    
.more-info-section .img-section img{ 
    
    width: 70%;
}

/* more-info-section end  */
.online-mode-section h2{
    margin-top: 5rem;
}
.online-mode-section      .image:hover {
    /* Add your hover styles here */
    transform: scale(1.2); /* Example: Scale the image by 20% on hover */
    transition: transform 0.3s ease; /* Add a smooth transition effect */
}


/* carousel style  */
.carousel .carousel-inner .card {
    background-color: #262631;
    color: var(--bs-main-color);
    transition: all 0.3s linear;
    padding: 1.6rem;
}

.carousel-inner .card p {
    color: var(--bs-main-color);
}

.carousel-inner .card:hover {
    background-color: var(--bs-main-color);
    color: var(--bs-dark-color);
    transform: scale(1.05);
    }
 .carousel-inner .card  :hover p{
        color: var(--bs-dark-color);
    }
    
.fa-star{
        color: var(--bs-supporting-color);
    }
.carousel-indicators{
    bottom : -20% ;

}

.carousel-indicators [data-bs-target]{
    margin-top: 2rem;
    width: .7rem;
    height: .7rem;
    background-color: #1089ff;
}
/* expert section */
.card p{     
    font-size: 15px;
}
 .experts-section .container .align-item-center:hover{
    transform: scale(1.1);
    /*Example:;
    Scaletheimageby20%onhover*/transition: transform 0.3s ease;
    -webkit-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -ms-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.experts-section{
    padding-bottom: 3rem;
}
/* contact us section  */
.contact-section{
    position: relative;
    padding-top: 20px;
}
.custom-shape-divider-top-1709035171 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1709035171 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 143px;
}

.custom-shape-divider-top-1709035171 .shape-fill {
    fill: #FFFFFF;
}
.contact-section .common-title{
    padding-top: 5rem;
}
/* form section  */
.container .form-section{
    width: 50%;

}
/* footer  */
.main-footer-section{
    padding: 0 0 4rem 0;
       background-color: #222;
       color: var( --bs-main-color);
   }
   
.contact-div{
       background-color:  var(--bs-dark-primary);
   }
   
.icon-div{
       width: 5rem;
       height: 5rem;
       
   }
   
   .icon-  {
       width: 2.5rem;
       height: 2.5rem;
       background-color: #1089ff;
       color: var( --bs-main-color);
   }
   
   .icon-span .fa-brands, .fab{
       color:white;
   }
   
   .carousel-indicators{
       bottom: -20%;
   }
   
   .carousel-indicators [data-bs-target]{
       margin-top: 2rem;
       width: .7rem;
       height: .7rem;
       background-color: #1089ff;
   }
   .card:hover{
    
   }
   /* media queries for reponsiveness */
   
@media screen and (max-width: 1400px) {

    .hero-video--section{
        width: 25rem;
        border-radius: 1rem;
    }
}
@media screen and (max-width: 1200px) {

    .hero-section{
        height: 80vh;
    }

    .hero-video--section{
        width: 20rem;
        border-radius: 1rem;
    }
}

    @media screen and ( max-width : 998px){
    h1{
        font-size: 2.4rem;

    }
    section .common-heading {
        font-size: 2rem;

    }
    section .para-width{
        width : auto ;

    }
    
    .hero-section{
        height: 100vh;
    }
    h2{
        font-size: 1.8rem;
        line-height: 2.4rem;


    }
    .more-info-section {
        text-align: center;
        padding: 0rem;
        height: 600px;
    }
    .more-info-section .common-heading{
        margin-bottom: 2px;
    }
    .more-info-section .common-heading p{
        margin-top: 2px;
    }
    h4{
        text-align: center;

    }
    .footer-links li{
        text-align: center;
    }
    .input-group{
        margin-left: auto;
        margin-right: auto;
    }
    

   
    .carousel-indicators {
        bottom: -6% !important;
    }
   } 
   /* note  */
   /* we used order class in  our hero section to show hero section gif at top on mobile phone  */
