@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&family=Lexend+Deca:wght@100;200;300;400;500;600;700&family=Montserrat:wght@400;700&family=Mulish:wght@300&family=Poppins:wght@300;400;600&family=Urbanist:wght@300;400;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Urbanist", sans-serif;
}

:root{
    --bs-dark-color: #1a1d20;
    --bs-dark-primary:#1c1c1c;
    --bs-main-color:#fff;
    --bs-primary-color:#c6c6c6;
    --secondary-color: #29a9fd;
    --bs-supporting-color: #C850C0;
}

h1, h2,h3,h4,h5{
    font-family: 'Lexend Deca', sans-serif;
    color: var( --bs-dark-color);
}

h1{
    font-size: 3.8rem;
}

h2{
    line-height: 3rem;
    font-weight: 600;
    font-size: 3.4rem;
}
a{
    text-decoration: none;
}
li{
    list-style: none;

}
button ,a{
    font-size: 1.15rem;
    letter-spacing: 0.03rem;
    word-spacing: .1rem;
}
.common-title {
font-size: 2.8rem;
font-weight: 500rem;
letter-spacing: 0.01rem !important
}
.common-heading{
    margin-bottom: 4.2rem;

}
/* navigation section */


.navbar-toggler-icon{
    background-color: white;
    border-color: white;
}




.navbar-brand{
    font-weight: bold;
}
.navbar-nav .nav-item .nav-link{
    color: var(--bs-main-color);
    font-weight: bold;

}
.navbar-nav .nav-item .nav-link:hover{
color: var(--secondary-color);
}

/* hero section  */
.hero-section .container{
    display: grid;/* by using this code we can make content center horiaontally and vertically*/
    place-content: center;
    height:  inherit;


} 
.bg-main {
    height: 80vh;
    position: relative;
}


.hero-video--section{
    /* max-width: 100%; */
    height: auto;
    width: 30rem;
    border-radius: 2rem;

}
.bg-color {
    background-color: var(--bs-dark-primary);
}
/* hero section end  */
/* shape divider start  */
.custom-shape-divider-bottom-1708838998 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1708838998 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 120px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1708838998 .shape-fill {
    fill: #FFFFFF;
}

/* shape divider ends  */

/* service section start */
     .service-section{
        padding: 6rem 0 3rem 0 !important;
     }
     .icon-span{
        width: 2.5rem;
        height: 2.5rem;
        background-color: var(--secondary-color);
        color: var(--bs-main-color);
     }
     .service-card:hover   {
        box-shadow: rgba(149,157,165,0.2) 0px 8px 24px;
     }
     /* .service-card {
        margin-left: 0.1rem;
        margin-right: 0.1rem;
     } */
     
/* service section end  */

