@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&family=Lexend+Deca:wght@100;200;300;400;500;600;700&family=Montserrat:wght@400;700&family=Mulish:wght@300&family=Poppins:wght@300;400;600&family=Urbanist:wght@300;400;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Urbanist", sans-serif;
}

:root{
    --bs-dark-color: #1a1d20;
    --bs-dark-primary:#1c1c1c;
    --bs-main-color:#fff;
    --bs-primary-color:#c6c6c6;
    --secondary-color: #29a9fd;
    --bs-supporting-color: #C850C0;
}

h1, h2,h3,h4,h5{
    font-family: 'Lexend Deca', sans-serif;
    color: var( --bs-dark-color);
}

h1{
    font-size: 3.8rem;
}

h2{
    line-height: 3rem;
    font-weight: 600;
    font-size: 3.4rem;
}
a{
    text-decoration: none;
}
li{
    list-style: none;

}
button ,a{
    font-size: 1.15rem;
    letter-spacing: 0.03rem;
    word-spacing: .1rem;
}
/* navigation section */


.navbar-toggler-icon{
    background-color: white;
    border-color: white;
}

/* Custom styles to change hamburger color */
/* .navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: var(--bs-navbar-toggler-icon-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;} */
/* .container .navbar-toggler .navbar-toggler-icon {
    background-image: var(--bs-main-color);
} */
/* Custom styles to change hamburger color */
/* .custom-toggler-icon {
    color: var(--bs-main-color) !important;
} */


.navbar-brand{
    font-weight: bold;
}
.navbar-nav .nav-item .nav-link{
    color: var(--bs-main-color);
    font-weight: bold;

}
.navbar-nav .nav-item .nav-link:hover{
color: var(--secondary-color);
}

/* hero section  */
.hero-section .container{
    display: grid;/* by using this code we can make content center horiaontally and vertically*/
    place-content: center;
    height:  inherit;


} 
.bg-main {
    height: 80vh;
    position: relative;
}


.hero-video--section{
    /* max-width: 100%; */
    height: auto;
    width: 30rem;
    border-radius: 2rem;

}
.bg-color {
    background-color: var(--bs-dark-primary);
}
.custom-shape-divider-bottom-1708162051 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1708162051 svg {
    position: relative;
    display: block;
    width: calc(101% + 1.3px);
    height: 107px;
}

.custom-shape-divider-bottom-1708162051 .shape-fill {
    fill: #FFFFFF;
}